

<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

<div class="container">
    <div class="table-responsive">          
    <table class="table" border="1">
        <thead>
        <tr>
            <th>Student Id</th>
            <th>Name</th>
            <th>RollNo</th>
            <th>Address</th>
            <th>Marks</th>
            <th>Pass_date</th>
        </tr>
        </thead>
        <tbody>
            
        <tr>
    
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.roll}}</td>
        <td>{{student.address}}</td>
        <td>{{student.marks}}</td>
        <td>{{student.pass_date}}</td>
        </tr>

        </tbody>
    </table>
    </div>
    </div>


</body>
</html>